:root {
    --primary: #CCBEF9;
    --secondary: #14AADB;
    --accent: #14A6D7;
    --bg-color: #FDF1EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

.name {
    text-align: center;
    padding-top: 100px;
}

.name .surname {
    color: var(--accent);
}

.name .given-name, 
.interestHobbies span,
.my-works span,
.testimonials h2,
.gallery h2 {
    color: var(--secondary);
}

.name img {
    margin: 20px 0;
    max-width: 400px;
}

.button-link {
    display: flex;
    justify-content: center;
}

.country-link {
    padding: 15px;
    background-color: #14A6D7;
    border: none;
    cursor: pointer;
}

.country-link:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 500ms;
}

div h2 {
    text-align: center;
}

.interest-hobbies,
.my-works,
.testimonials,
.gallery {
    margin: 150px 20px;
}

.interest-hobbies ul,
.my-works ol, .testimonials ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem 7rem;
    margin-top: 70px;
}

.interest-hobbies ul li,
.my-works ol li, .testimonials ul li {
    list-style-type: none;
    background-color: var(--primary);
    width: 250px;
    height: 125px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.interest-hobbies ul li img {
    width: 50px;
    margin-bottom: 20px;
}

.my-works ol li {
    cursor: pointer;
}

.my-works ol li a {
    font-weight: 800;
    color: #000;
    text-decoration: none;
}

.my-works ol li a:hover {
    color: var(--secondary);
}

.my-works ol li p {
    padding: 10px;
    text-align: center;
}

.testimonials ul li {
    width: 300px;
    height: 165px;
    display: block;
}

.avatar {
    margin: 20px 20px 10px 20px;
}

.avatar img, 
.icon img {
    max-width: 50px;
    border-radius: 50%;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment em,
.comment p {
    margin: 0 20px 10px 20px;
}

.comment p {
    display: flex;
    justify-content: flex-end;
}

.gallery .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}

.gallery img {
    width: 250px;
}

.goal-container {
    display: grid;
    margin: 2rem;
    justify-content: center;
    grid-template-areas: 
        "goal1"
        "goal2"
        "goal3"
        "goal4";
    gap: 1rem;
}

.goal-logo {
    background-color: var(--primary);
    height: 70px;
    min-width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.goal-logo img {
    height: 40px;
    width: 40px;
}

.goal {
    display: flex;
}

.goal-one {
    grid-area: goal1;
}

.goal-two {
    grid-area: goal2;
}

.goal-three {
    grid-area: goal3;
}

.goal-four {
    grid-area: goal4;
}

.goal-details p {
    margin-top: 10px;
    line-height: 1rem;
}

.comment-section {
    margin: 1.3rem;
    padding-bottom: 1rem;
}

.comment-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.comment-input .details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.comment-input textarea,
.comment-input input {
    padding: 10px;
    height: 40px;
    width: 200px;
    resize: none;
}

.comment-input input:focus,
.comment-input textarea:focus {
    outline: none;
}

.comment-input button {
    width: 100px;
    height: 40px;
}

.main-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .goal-container {
        grid-template-areas: 
        "goal1 goal2"
        "goal3 goal4";
    }

    .comment-input textarea {
        width: 400px;
    }

    .comment-input .details form {
        flex-direction: row;
    }
}